
	

.jumbotron.text-center.header


	
		
	= image_tag  "logo.png"
	%br
	%br
	

	%br
	%br
	




	= simple_form_for(:earlyadopter, :html => { :class => 'form-horizontal' })   do |f|
	
		
		.form-group

			= f.input_field :name,  placeholder: 'Name',input_html: { class: 'form-horizontal',:maxlength => 40, :size => 40}
	
		.form-group

			= f.input_field :email, placeholder: 'Email',input_html: { class: 'form-horizontal',:maxlength => 40, :size => 40}
			%br
			%br
			= f.button :submit, 'Kill it !', class: "btn btn-primary", data: { disable_with: "Please wait..." }
					
	%br

	.footer.h6 
		Made with 
		= fa_icon "heart" 
		in corsica
	